html{
  background-color:hotpink;
}

h1{
  font-size:65px;
  font-family:'Times New Roman', Times, serif;
  text-align:center;
  background-color:aqua;
  height: 80px;
}

section{
  padding-left:0px;
  display: flex;
  justify-content:space-between;
  margin-top:25px;
  margin-bottom: 25px;
}

img{
  width:300px;
  height: 300px;
  margin:auto;
  padding-right:35px;
}

#show-results{
  font-size:25px;
  margin-bottom: 15px;
  padding-left: 20px;
  background-color:aqua;
  margin-left:5px;
  margin-right: 92%
}

#results-list{
  font-size:20px;
  font-family:'Times New Roman', Times, serif;
}